---
import Layout from '../layouts/Layout.astro';
import AppFlow from '../components/app/AppFlow';
---

<Layout title="E‑Waste Collection App">
    <div class="max-w-3xl mx-auto">
        <AppFlow client:load />
    </div>
</Layout>